:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

@media (min-width: 769px){
    .articulo{
        width: 23%;
    }
    .contenedorfooter{
        display: flex;
        justify-content: center;
    }
}
.iconofooter{
    transition: .2s;
}
.iconofooter:hover{
    color: var(--Azul);
}
.inputtext{
    padding: 0.3rem;
    border-radius:6px;
    border: none;
}
.ancladefault{
    text-decoration: none;
    color: unset;
    
}
.botonformulario{/*botonEnviar*/
    background-color: var(--Azul);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight:bold;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.2s;
}
.botonformulario:hover{
    background-color:#0022AA;
}
a.botonformulario{
    background-color: var(--Amarillo);
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}